<app-header [carsPageAmount]="carsPageAmount" [currentPage]="currentPage" (newCurrentPage)='onChangeCurrentPage($event)'
    (pageChange)='ngOnInit()'></app-header>

<div *ngIf="!isLoaded">
    <h1>Loading....</h1>
</div>

<div *ngIf="isLoaded" class="uk-flex uk-flex-around uk-flex-wrap uk-flex-wrap-around">

    <div *ngFor="let i of renderPage(), let idx = index" class="uk-width-1-5">
        <div style="margin: 5px;">
            <div class="uk-card uk-card-hover uk-card-body uk-card-primary" id="{{idx}}">
                <h3 class="uk-card-title">{{i.Name}}</h3>
                <img src="../../../assets/car.jpg" alt="car">
                <ul class="uk-list">
                    <li>Origin: {{i.Origin}}</li>
                    <li>Year: {{i.Year}}</li>
                    <li>Acceleration: {{i.Acceleration}}</li>
                    <li>Cylinders: {{i.Cylinders}}</li>
                    <li>Displacement: {{i.Displacement}}</li>
                    <li>Horsepower: {{i.Horsepower}}</li>
                    <li>Weight in lbs: {{i.Weight_in_lbs}}</li>
                    <li>Price: {{i.Price}} {{i.Currency}}</li>
                </ul>
                <div class="uk-flex uk-flex-around">
                    <button class="uk-button uk-button-small btn-success" type="button" (click)="onAddToCart(i)">
                        Add to cart</button>
                    <button class="uk-button uk-button-secondary uk-button-small" type="button"
                        uk-toggle="target: #modal-edit" (click)="setEditCar(i)">Edit</button>
                    <button class="uk-button uk-button-danger uk-button-small" type="button"
                        uk-toggle="target: #modal-delete" (click)="setEditCar(i)">Delete</button>
                </div>
            </div>
        </div>
    </div>

</div>


<div id="modal-edit" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Edit car</h2>

        <form>
            <fieldset class="uk-fieldset">
                <div class="uk-margin">
                    <input class="uk-input" type="text" placeholder="img URL">
                </div>
                <div class="uk-margin">
                    <input class="uk-input" type="text" placeholder="Origin" name="Name" [(ngModel)]="editCar.Name">
                </div>
                <div class="uk-margin">
                    <input class="uk-input" type="text" placeholder="Origin" name="Origin" [(ngModel)]="editCar.Origin">
                </div>
                <div class="uk-margin">
                    <input class="uk-input" type="text" placeholder="Year" name="Year" [(ngModel)]="editCar.Year">
                </div>
                <div class="uk-margin">
                    <input class="uk-input" type="text" placeholder="Acceleration" name="Acceleration"
                        [(ngModel)]="editCar.Acceleration">
                </div>
                <div class="uk-margin">
                    <input class="uk-input" type="text" placeholder="Displacement" name="Displacement"
                        [(ngModel)]="editCar.Displacement">
                </div>
                <div class="uk-margin">
                    <input class="uk-input" type="text" placeholder="Horsepower" name="Horsepower"
                        [(ngModel)]="editCar.Horsepower">
                </div>
                <div class="uk-margin">
                    <input class="uk-input" type="text" placeholder="Price" name="Price" [(ngModel)]="editCar.Price">
                </div>
                <div class="uk-margin">
                    <input class="uk-input" type="text" placeholder="Currency" name="Currency"
                        [(ngModel)]="editCar.Currency">
                </div>
            </fieldset>
        </form>

        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button"
                style="margin-right: 20px;">Cancel</button>
            <button class="uk-button uk-button-primary uk-modal-close btn-success" type="button"
                (click)='onEditCar()'>Save</button>
        </p>
    </div>
</div>

<div id="modal-delete" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Delete car</h2>
        <legend class="uk-legend">Are you sure?</legend>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button"
                style="margin-right: 20px;">Cancel</button>
            <button class="uk-button uk-button-danger uk-modal-close" type="button"
                (click)="onDeleteCar()">Delete</button>
        </p>
    </div>
</div>