<app-header [carsPageAmount]="carsPageAmount" [currentPage]="currentPage" (newCurrentPage)='onChangeCurrentPage($event)'></app-header>

<div *ngIf="!isLoaded">
    <h1>Loading....</h1>
</div>

<div *ngIf="isLoaded" class="uk-flex uk-flex-around uk-flex-wrap uk-flex-wrap-around">

    <div *ngFor="let i of renderPage(), let idx = index" class="uk-width-1-5">
        <div style="margin: 5px;">
            <div class="uk-card uk-card-hover uk-card-body uk-card-primary" id="{{idx}}">
                <div class="img">img</div>
                <h3 class="uk-card-title">{{i.Name}}</h3>
                <ul class="uk-list">
                    <li>Origin: {{i.Origin}}</li>
                    <li>Year: {{i.Year}}</li>
                    <li>Acceleration: {{i.Acceleration}}</li>
                    <li>Cylinders: {{i.Cylinders}}</li>
                    <li>Displacement: {{i.Displacement}}</li>
                    <li>Horsepower: {{i.Horsepower}}</li>
                    <li>Weight in lbs: {{i.Weight_in_lbs}}</li>
                    <li>Price: {{i.Price}} {{i.Currency}}</li>
                </ul>
                <div class="uk-flex uk-flex-around">
                    <button class="uk-button uk-button-secondary uk-button-small" (click)="onEditCar(idx)">Edit</button>
                    <button class="uk-button uk-button-danger uk-button-small">Delete</button>
                </div>
            </div>
        </div>
    </div>

</div>