 /* .img {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    src: url('http://localhost:4200/car.jpg');
}  */

 .uk-card {
     padding: 10px;
 }

 .uk-card-title {
     margin-bottom: 15px;
     height: 66px;
 }

 .uk-list li {
     margin-top: 5px;
 }

 .uk-button {
     border-radius: 20px;
     min-width: 80px;
 }

 .uk-button.uk-button-danger {
     background-color: #96588a;
 }

 .btn-success {
     background-color: #71b02f;
     color: #ffffff;
 }

 .uk-card-title {
     text-align: center;
 }

 .uk-list {
     padding-left: 30%;
 }